<div class='container'>

<div>
  <%= link_to "NEW MENU ITEM", new_menu_item_path, class:'btn btn-primary' %>
</div>
 <br> <br>
<div>
    <%= link_to "NEW MENU TYPE", new_menutype_path, class:'btn btn-primary' %>
  </div>

  <br><br><br><br> <br><br><br><br>
  <br><br><br><br>
</div>