<div class='address text-center'>
        
         <i class="fas fa-map-marker-alt mt-2"></i>
        <p class='address text-center'>
          Heavenly Foods 628 6th Ave #600, New Westminster, BC
        </p>
        <i class="far fa-clock"></i>
        <p class='address'>
         8:00am - 11:30pm
         <p>Mon - Sun</p>
        </p>
        <i class="fas fa-phone"></i>
        <p>604-556-2633</p>
        <br>
        
  </div>