<div class='address text-center'>
        
         
        <p class='text-center'>
          Heavenly Foods 628 6th Ave #600, New Westminster, BC
        </p>
        
        <p class='address'>
         8:00am - 11:30pm
         <p>Mon - Sun</p>
        </p>
        
        <p>604-556-2633</p>
        <br>
        
  </div>