<div class='address'>
        <h5 class="text-uppercase text-center">Address</h5>

        <p class='address text-center'>
          Heavenly Foods 628 6th Ave #600, New Westminster, BC
        </p>
        <p class='address text-center'>
        Open 8:00am - 11:30pm
        </p>
        <p class='address text-center'>
        7 days a week
        </p>
        <br>
        
  </div>