
<footer>
  <!-- Grid container -->
  
    <!--Grid row-->
  
  <!-- Grid container -->
  
  <!-- Copyright -->
  <div class="text-center p-3">
    © 2021 Copyright:
    
    <%= link_to "heavenlyfoods.com", root_path %>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->