<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav ">
      <li class="nav-item active">
         <%= link_to "Home", home_path, class:"nav-link" %> <span class="sr-only">(current)</span>
        
      </li>
      
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          EXPLORE
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">About us</a>
          <a class="dropdown-item" href="#">Booking</a>
          <a class="dropdown-item" href="#">Gallery</a>
          <a class="dropdown-item" href="#">Contact Us</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MENU
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Appetizers</a>
          <a class="dropdown-item" href="#">Main Course</a>
          <a class="dropdown-item" href="#">Desserts</a>
        </div>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">SHOP <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="#">LOGIN <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
    
  </div>
</nav>