<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<p><%= @booking.num_people %></p>
<p><%= @booking.booking_time.strftime('%m/%d/%y') %></p>
<p><%= @booking.booking_time.strftime('%I:%M %p') %></p>
<p><%= @booking.user.first_name %> </p>
  </body>
</html>