<div class='container'>

<div class='d-flex about'>
<%= image_tag 'home/about3.jpg', class:'image' %>
<p class= 'txt'>If you're looking for random paragraphs, you've come 
  to the right place. When a random word or a random sentence 
  isn't quite enough, the next logical step is to find a 
  random paragraph. We created the Random Paragraph 
  Generator with you in mind. The process is quite simple. 
  Choose the number of random paragraphs you'd like to 
  see and click the button. Your chosen number of paragraphs
   will instantly appear.</p>
<%= image_tag 'home/about2.jpg', class:'image' %>
</div>
<div class='float-left'>
</div>
</div>