 <div class='backgroundpic'>
<div class='container'>
 
 
<div class='d-flex about'>

<%= image_tag 'home/about3.jpg', id:'image' %>

<p class= 'txt'>Everything we do is a celebration of foods from 
around the world from how we source it,shelf it to serving up ne ways for your
Since 1968. we've committed to bringing you an experience you won't find
anywhere else! Thats how we SeaFood differently.
</p>
<%= image_tag 'home/about2.jpg', id:'image2' %>

</div>

</div>
