<div class='container'> 

<h2 class='text-center mt-4 about'>About Us</h2>
<div class='d-flex'>

<%= image_tag 'home/about3.jpg', id:'image' %>

<p class= 'txt'>Everything we do is a celebration of foods from 
around the world from how we source it,shelf it,and serve it. We bring up new 
ways for preparation for your meals.
Since 1968, we've committed to bringing you an experience you won't find
anywhere else! Thats how we MagicalFood differently.
</p>
<%= image_tag 'home/about2.jpg', id:'image2' %>

</div>
<br><br><br><br><br><br><br><br><br>
</div>


