#image{
  width: 600px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 100%;
  
}
#image2{
  width: 600px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 100%;
  
}

.txt{
  text-align: center;
  margin-top: 5%;
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  font-weight: bolder;
}
.backgroundpic{
  width: 1310px;
  height:700px;
  background:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url('home/about_background.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
  text-align:center;
  margin-right:0px;
  margin-left:0px;
  padding:0;
  
}