body.about{
  background:linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)),url('home/about.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  background-position: center center;
  text-align:center;
  margin-right:0px;
  margin-left:0px;
  
#image{
  width: 600px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 100%;
  
}
#image2{
  width: 600px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 100%;
  
}

.txt{
  text-align: center;
  margin-top: 5%;
  font-family: 'Vollkorn', serif;
  font-size: 20px;
  font-weight: bolder;
}
.about{
  font-family:'Shippori Mincho B1', serif;;
}

}