/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap/scss/bootstrap';
 @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Redressed&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Ranchers&family=Redressed&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Ranchers&family=Redressed&family=Roboto:ital,wght@1,100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Ranchers&family=Redressed&family=Roboto:ital,wght@1,100&family=Shippori+Mincho+B1:wght@800&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
 
/* latin */
@font-face {
  font-family: 'Pinyon Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pinyonscript/v11/6xKpdSJbL9-e9LuoeQiDRQR8WOXaOqTimDc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; background-color:goldenrod; }
	.navbar .nav-item:hover .nav-link{ color: #fff;  }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

 body{

 ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;    
  position: absolute;
}
.navbar{
  width: 100%;
  margin: 0px auto;
  position: relative;
  
}
nav{
  color: black;
  width: 100%;
}

.address{
  background-color: black;
  font-family:'Shippori Mincho B1', serif;
  color: white;
  margin-top: 10px;
  

}
footer{
  background-color: black;
  color: white;
  font-family:'Shippori Mincho B1', serif;
  
    
}

.fas.fa-map-marker-alt{
  font-size:20px;
}
.far.fa-clock{
  font-size:20px;
}
.fas.fa-phone{
  font-size:20px;
}
.fa.fa-shopping-cart{
  color: orange;
  margin-top: 10px;
  font-size: 25px;
}
// span.count{
//   color: white;
// }
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}
.user-name{
  color: goldenrod;
}
.img-responsive.logo{
  width: 200px;
  height: 150px;
  ;

}
ul,li{
  font-size: 20px;
  font-family:'Shippori Mincho B1', serif;;

}

 }
