/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap/scss/bootstrap';
 @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Redressed&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Ranchers&family=Redressed&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Ranchers&family=Redressed&family=Roboto:ital,wght@1,100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Ranchers&family=Redressed&family=Roboto:ital,wght@1,100&family=Shippori+Mincho+B1:wght@800&display=swap');

 body{

 ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;    
  position: absolute;
}
.navbar{
  width: 100%;
  margin: 0px auto;
  position: relative;
  
}
nav{
  color: black;
  width: 100%;
}

.address{
  background-color: lightslategray;
  color: black;
  

}
footer{
  background-color: black;
  color: white;
  
    
}

.fas.fa-map-marker-alt{
  font-size:20px;
}
.far.fa-clock{
  font-size:20px;
}
.fas.fa-phone{
  font-size:20px;
}
.fa.fa-shopping-cart{
  color: orange;
  margin-top: 10px;
  font-size: 25px;
}
// span.count{
//   color: white;
// }
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}
.user-name{
  color: goldenrod;
}

 }

