// Place all the styles related to the billings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body.billings{
  .form-control{
    max-width: 400px;
  }
  
  .card-text{
    // margin-left: 30px;
    // margin-top: 10px;
    margin-bottom: 30px;
    // margin-right: 500px;
  }
  .content{
    margin-left: 30px;
    
    
  }
  h4{
    margin-left: 20%;
    font-family: 'Shippori Mincho', serif;
    font-weight: bolder;
  }
  .btn-primary:hover,
  .btn-primary,
      .btn-primary:active,
      .btn-primary:visited,
      .btn-primary:focus {
        background-color: goldenrod !important;
        border-color: goldenrod !important;
        
  }
  .additional-info{
    margin-left: 20%;
    font-family: 'Shippori Mincho', serif;
    font-weight: bolder;


  }
  
}