// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body.bookings {
  background:linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)),url('booking/table2.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
  text-align:center;
  margin-right:0px;
  margin-left:0px;
  padding:0;
  
  .inline{
    display: inline;
  }
  .btn-primary:hover,
  .btn-primary,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
    background-color: goldenrod !important;
    border-color: goldenrod !important;
    width: 20%;
  }
  .header{
    font-weight: bolder;
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
    color: goldenrod;
  }
  select {
    border-radius: 3px;
    border:none;
    width: 20%;
    height: 40px;
    background: goldenrod;
    // color: #000;
  }
  .num-people{
    font-family: 'Shippori Mincho', serif;
  }
  .card-subtitle {
    font-family: 'Shippori Mincho', serif;

  }
  .all-bookings{
    font-family: 'Shippori Mincho', serif;
    
  }
  .card{
    margin-left: 400px;
    background-color: #eed;
  }
  .card-title{
    font-family: 'Shippori Mincho', serif;
    color: green;
  }
  .btn-success{
    width: 20%;
    margin-left: 430px;
    background-color: goldenrod !important;
    border-color: goldenrod !important;
  }
  

  
}
