// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body.bookings {
  div.inline{
    display: inline;
  }
  .btn-primary:hover,
  .btn-primary,
      .btn-primary:active,
      .btn-primary:visited,
      .btn-primary:focus {
        background-color: goldenrod !important;
        border-color: goldenrod !important;
        width: 20%;
  }
  .header{
    font-weight: bolder;
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
  }
  select {
    border-radius: 3px;
    border:none;
    margin: 50px;
    width: 20%;
    height: 40px;
    background: goldenrod;
    color: #000;
  }

  .table{
    width: 1310px;
    height:600px;
    background:linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url('booking/table2.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    text-align:center;
    margin-right:0px;
    margin-left:0px;
    padding:0;
    
  }
}
