// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body.categories{
  .menu_item_image{
    max-width: 100%;
    margin-top: 10%;
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}