// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body.contact{
  background:linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)),url('gallery/contact.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  background-position: center center;
  text-align:center;
  margin-right:0px;
  margin-left:0px;
.form-group{
  max-width: 500px;
}
.required-field::after {
  content: "*";
  color: red;
}

#title{
  // margin-left: 150px;
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Akaya Telivigala', cursive;
}
.form-group{
  text-align: left;
}

  .btn-outline-primary:hover,
  .btn-outline-primary,
  .btn-primary,
  .btn-outline-primary:active,
  .btn-outline-primary:visited,
  .btn-outline-primary:focus {
    background-color: goldenrod !important;
    border-color: goldenrod !important;
    color:white;
    
    // width: 40%;
}
.content{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.card{
  
  // background-color: beige;
}
.card.contact{
  margin-right: 300px;
  margin-left: 200px;
  margin-bottom: 30px;
  margin-top: 30px;
  background-color: beige;

}
#location-title{
  font-family: 'Akaya Telivigala', cursive;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  color: white;
}


}

