// Place all the styles related to the gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.image{
  width: 300px;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}
.heading{
  text-align: center;
  font-size: 40px;
  color:black;
  margin-top: 10px;
  font-family: 'Dancing Script', cursive;
}

