// Place all the styles related to the gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body.gallery{
  background:linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)),url('gallery/gallery.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  background-position: center center;
  text-align:center;
  margin-right:0px;
  margin-left:0px;
  padding:0;

  
.image{
  width: 300px;
  height: 300px;
  border: solid 1px #555;
  background-color: #eed;
  box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  border-radius:25px;
}
.heading{
  text-align: center;
  font-size: 40px;
  color:black;
  margin-top: 0px;
  font-family:'Shippori Mincho B1', serif;;
  
}

}
