// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// body{
//   background: image-url('home/homePage.jpg');
//   background-repeat: no-repeat;
//   background-size: auto;
// }

body.home {
  background-image: url('home/homepage11.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
  text-align:center;
  margin-right:0px;
  margin-left:0px;
  position: relative;
#title{
  font-size: 85px;
  font-weight: bolder;
  color: yellow;
  font-family: 'Rochester', cursive;
  
  
}
#subtitle{
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: 'Rochester', cursive;
}

}
