// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// body{
//   background: image-url('home/homePage.jpg');
//   background-repeat: no-repeat;
//   background-size: auto;
// }

body.home {
  background-color: black;
  background-image: url('home/background1.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
  text-align:center;
  margin-right:0px;
  margin-left:0px;
  position: relative;

h1.title{
  font-size: 85px;
  font-weight: bolder;
  color: goldenrod;
  font-family: 'Pinyon Script', cursive;
  
  
}
.subtitle{
  font-size: 30px;
  font-weight: bolder;
  color: white;
  font-family: 'Rochester', cursive;
}
hr{ 
  border: none; 
  height: 2px; 
  background-color: goldenrod;
  width:100%
  
}
// .home_video {
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   object-fit: cover;
//   top: 0;
//   z-index: -2;
  
//  }
 .home-video-wrapper {
 height: 100vh;
 display: flex;
 }
 h1.home {
   color: tomato;
 }



}
