// Place all the styles related to the menu_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body.menu_items{


.menu_item_image{
  max-width: 100%;
  margin-top: 10%;
  width: 400px;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.title{
  font-family: 'Shippori Mincho', serif;
  margin-left: 100%;
  color:goldenrod !important;
  white-space: nowrap;

  
}
.title2{
  color: goldenrod;
}
.label{
  font-family: 'Shippori Mincho', serif;
  font-size: 20px;
}
#price{
  font-size: 25px;
  color: goldenrod;
}
#quantity{
  max-width: 20%;
}
.new_item_title{
  font-family: 'Shippori Mincho', serif;
  margin-left: 10%;
  margin-top:10px;
  font-size: 40px;
}

div.inline{
  display: inline-block;
  vertical-align: top;
}

div.inline2{
  display: inline-block; 
}
.cart{
  margin-left: 25%;
  width: 200px;
  background-color: goldenrod !important;
}
.btn-primary:hover,
  .btn-primary,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
    background-color: goldenrod !important;
    border-color: goldenrod !important;
        
  }
  .fab.fa-facebook-f{
    color: goldenrod !important;
    
  }
  .fab.fa-twitter {
    color: goldenrod !important;
    
  }
  .fab.fa-instagram{
    color: goldenrod !important;

  }

  .form-group{
    max-width: 500px;
  }
  
  .review_title{
    color: goldenrod !important;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Shippori Mincho', serif;
  }
  .form-control{
    outline-color: goldenrod !important;
  }
    .btn-outline-primary:hover,
    .btn-outline-primary,
    .btn-primary,
    .btn-outline-primary:active,
    .btn-outline-primary:visited,
    .btn-outline-primary:focus {
      background-color: goldenrod !important;
      border-color: goldenrod !important;
      color:white;
      // width: 40%;
  }
  .categories{
    text-align: right;
  }

  .menu_item_delete{
    margin-left: 28%;
    color:goldenrod;
  }
  select {
    border-radius: 3px;
    border:solid goldenrod;
    width: 160px;
    height: 30px;
    color: #000;
    
  }
  // .search{
  //   border-radius: 3px;
  //   border:solid goldenrod;
  //   color: #000;

  // }
  .search-container {
    background-color: goldenrod;
    position: relative;
    border-radius: 30px;
    padding: 3px 50px 3px 10px;
    height: 45px;
  }
  .search-box {
    background-color: transparent;
    outline: none;
    height: 35px;
    font-size: 15px;
    border:  goldenrod;
    width: 100%;
  }
  .search-button {
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: #C00;
    border-radius: 50%;
    border: 0;
    color: #FFF;
    width: 35px;
    height: 35px;
    outline: 0;
  }
  .price-search{
    max-width: 130px;
    
  }
  .filter-price-tag{
    margin-left: 0px;
    
  }
  #shop-header{
  font-family: 'Akaya Telivigala', cursive;
  font-weight: bolder;
  font-size: 40px; 
  }
  .option-label{
    font-family: 'Vollkorn', serif;


  }
  .category-name{
    font-size: 20px;
  }
  .category-label{
    font-size: 18px;
  }
  .range-tag{
    height: 1px;
    
  }
  .star-colors{
    color: goldenrod;
    font-size: 20px;
  }
  .text-area-reply{
    max-width: 200px;
  }
  ul li{
    color: palevioletred;
  }
  .far.fa-star{
    color: goldenrod;
    font-size: 20px;
  }
  .fas.fa-star{
    color: goldenrod;
    font-size: 20px;
  }
  .jumbotron{
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 100px;
    margin-right: 350px;
    

  }
  
  
  
  
  
  
  
}