// Place all the styles related to the menu_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body.menu_items{
  background:linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)),url('home/shopping3.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
  text-align:center;
  margin-right:0px;
  margin-left:0px;
  padding:0;

// index page
.index_item_image{
  max-width: 100%;
  width: 300px;
  height: 250px;
  border-radius: 25px 25px 0px 0px;
}

hr{ 
  border: none; 
  height: 1px; 
  background-color: goldenrod;
  width:100%
  
}
.card-effect{
  border: solid 1px #555;
  background-color: #eed;
  box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  border-radius:25px;
  
}

.card-title{
  font-family: 'Shippori Mincho', serif;
  font-size: 20px;
  color: goldenrod !important;
}

.title{
  font-family: 'Shippori Mincho', serif;
  color:goldenrod !important;
  white-space: nowrap; 
}
.category-label{
  font-size: 18px;
  font-family: 'Shippori Mincho', serif;
  color:white !important;
}
select {
  border-radius: 3px;
  border:solid goldenrod;
  width: 160px;
  height: 30px;
  color: #000;
}
select,option{
  font-family: 'Shippori Mincho', serif;
}

#shop-header{
font-family: 'Akaya Telivigala', cursive;
font-weight: bolder;
font-size: 40px;
color: goldenrod; 
}
.search-container {
    background-color: goldenrod;
    position: relative;
    border-radius: 30px;
    padding: 3px 50px 3px 10px;
    height: 45px;
  }
  .search-box {
    background-color: transparent;
    outline: none;
    height: 35px;
    font-size: 15px;
    border:  goldenrod;
    width: 100%;
  }
  .search-button {
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: #C00;
    border-radius: 50%;
    border: 0;
    color: #FFF;
    width: 35px;
    height: 35px;
    outline: 0;
  }
  .category-name{
        font-size: 20px;
        color: goldenrod;
      } 
  .range-tag{
    height: 1px;
    color: goldenrod !important;
    
  }
  div.inline{
    display: inline-block;
    vertical-align: top;
  }
  .price-search{
   max-width: 130px;     
  }
  .filter-price-tag{
    margin-left: 0px;
  }  
  
  .option-label{
    font-family: 'Vollkorn', serif;
  }
  .price-search{
    max-width: 130px;   
  }
  .filter-price-tag{
    margin-left: 0px;
  }    
  .option-label{
    font-family: 'Vollkorn', serif;
    color: white !important;
    font-size: 20px;
  }
  span{
    color: goldenrod;
  }





// new menu item
.jumbotron{
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 200px;
  margin-right: 250px;
  background-color: #eed;
}
.new_item_title{
    font-family: 'Shippori Mincho', serif;
    margin-left: 10%;
    margin-top:10px;
    font-size: 40px;
  }
  .label{
    font-family: 'Shippori Mincho', serif;
    font-size: 20px;
    text-align: left;
    }
    .label2{
      font-family: 'Shippori Mincho', serif;
    }
  .btn-primary:hover,
  .btn-primary,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
  background-color: goldenrod !important;
  border-color: goldenrod !important;
  color: white;
  }


// show page
.show_item_image{
  width: 400px;
  height: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left:0px; 
  border: solid 1px #555;
  box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -moz-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -webkit-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  -o-box-shadow: 10px -10px 5px  rgba(0,0,0,0.6);
  border-radius:25px;
}
.show-description{
  width: 45%;
}
.outer{
  width: 100%;
}

.title2{
  color: goldenrod;
}

#price{
  font-size: 25px;
  color: goldenrod;
}
#quantity{
  max-width: 20%;
}

.fab.fa-facebook-f{
  color: goldenrod !important;
  
}
.fab.fa-twitter {
  color: goldenrod !important;
  
}
.fab.fa-instagram{
  color: goldenrod !important;

}
.far.fa-star{
  color: goldenrod;
  font-size: 20px;
}
.fas.fa-star{
  color: goldenrod;
  font-size: 20px;
}

// reviews
.star-colors{
  color: goldenrod;
  font-size: 20px;
}

.review_title{
  color: goldenrod !important;
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Shippori Mincho', serif;
  text-align: left;
  margin-left: 50px;
}
.form-group{
  max-width: 500px;
}

.form-control{
  outline-color: goldenrod !important;
}
.text-area-reply{
  max-width: 200px;
}
ul li{
  color: palevioletred;
}
.review-card{
  text-align: left;
  margin-left: 50px;
  margin-right: 500px;
  background-color:peachpuff;
}
.all-reviews{
  margin-left: 50px;

}
.main-card{
  background-color: #eed;;
}
// .cart{
//   margin-left: 25%;
//   width: 200px;
//   background-color: goldenrod !important;
// }




 

   


        
//   }




//   .categories{
//     text-align: right;
//   }

//   .menu_item_delete{
//     // margin-left: 28%;
//     color:goldenrod;
//   }
//   select {
//     border-radius: 3px;
//     border:solid goldenrod;
//     width: 160px;
//     height: 30px;
//     color: #000;
    
//   }
  
//   
//   .price-search{
//     max-width: 130px;
    
//   }
//   .filter-price-tag{
//     margin-left: 0px;
    
  
//   .option-label{
//     font-family: 'Vollkorn', serif;


//   }
//   
//   


  
//  
  
//   .image{
//     width: 40%;

//   }

  
  
  
  
  
  
  
}