// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.sign_in{
  margin-left: 30%;
}
#login{
  margin-left: 20%;
}
#login_btn{
  margin-left: 30%;
}
.redirects{
  margin-left: 15%;
}
