// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body.transactions{
  .receipt-body{
    margin-left: 380px;
  }
  hr{
    margin-right: 300px;
    margin-left: 300px;
  }
}
