// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body.users{

  background:linear-gradient(rgba(255,255,255,.1), rgba(255,255,255,.1)),url('gallery/login.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
  text-align:center;
  margin-right:0px;
  margin-left:0px;
  padding:0;

  .jumbotron{
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 200px;
  margin-right: 300px;
  background-color: #eed;
  
  }
  .label{
    font-family: 'Shippori Mincho', serif;
    font-size: 20px;
  }
  .signup-title{
    font-family: 'Shippori Mincho', serif;
    font-size: 30px;
  }
  .content{
    font-family: 'Vollkorn', serif;
  }
  .btn-primary:hover,
  .btn-primary,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
  background-color: goldenrod !important;
  border-color: goldenrod !important;
  font-size: 20px;
          
    }
  
}
