// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body.users{
.sign_up{
  margin-left: 30%;
}
#sign_up_header{
  margin-left: 20%;
}
#sign_up_button{
  margin-left: 30%;
}
#sign_in_link{
  margin-left: 10%;
}
}
