 <div class='container'>

 <h5>Category</h5>

 <div>
 <% Category.all.each do |category|%>
 <li>
 <%= link_to category.name,category_path(category) %>
 </li>
 <%end%>
 </div>
  <div class="row">
    <% @menu_item_categories.each do |menu_item_category|%>
      <% item = menu_item_category.menu_item%>
      <% if item %>
            <div class='col-4'> 
                  <% if item.image.attached?%>
                  <%= image_tag(item.image,class:'menu_item_image') %>
                  <%end%>
              <div class='col-4'> 
                  <h3 class=title><%= item.title%></h3>
              </div>

              <div class='col-4'> 
                  <h4 class='title'>$<%= item.price%></h4>
              </div>
            </div>
        <%end%>

  

  <%end%>
  </div>
</div>