<div class='container'>

<h3>Your order</h3>
<table class='table table-striped'>
<tbody>
<% @shopping_cart.shopping_cart_items.each do |item|%>

<tr>
<td>subtotal</td>
<td><%= item.subtotal%></td>
</tr>

<tr>
<td>tax</td>
<td><%= item.tax%></td>
</tr>

<tr>
<td>delivery fee</td>
<td><%= item.delivery_fee%></td>
</tr>

<%end%>

<tr>
<td>Total</td>
<td> <%=@shopping_cart.final_total%> </td>
</tr>

</tbody>
</table>


<div class='btn btn-primary'> 
PROCEED TO PAYMENT
</div>

<div class='btn btn-primary'> 
UPDATE CART
</div>

</div>