<select id ='menu_item_sort'>
  <% menu_items_sort_options.each do |option| %>
    <option data-href=<%= menu_item_sort_path(option.last) %> val=<%= option.last %>> 
      <%= option.first %>
    </option>
  <% end %>
</select>
