<div class='container'>


<%  @menu_types.each do |type|%>

<div class='menu-type-title'>
<%= type.menutype%>
</div>

<div class='row'>
  <%  type.menu_items.each do |item|%>
  
        <div class='menu-item-title col-6 menu-item-price'>
        
        
        <div class='d-flex justify-content-between menu-item-items-attributes'>
        <div class='menu-item-items-attributes'>
        <%= item.title%>
        </div>

        <div class='stars'>
            *************
        </div>

        <div class='menu-item-items-attributes menu-item-price'>
        $<%= item.price%>  
      </div>
      </div>
      
      
        <div class='menu-item-items-attributes menu-item-description'id='item-description'>
        <%= item.description%>
        </div>
      </div>

  <%end%>
        </div>
<%end%>
<br>
</div>


