
<div class='container'>
<h3>your table</h3>
<br><br>
<select class="select btn btn-secondary dropdown-toggle">
  <option selected>1 person</option>
  <option value="1">2 people</option>
  <option value="2">3 people</option>
  <option value="3">4 people</option>
  <option value="3">5 people</option>
  <option value="3">6 people</option>
</select>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

</div>